.btn-primary.btn-primary{
    background-color: #E2AC6C;
    transition: color 0.2s ease-in;
    color: white;
}

.btn{
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow .2s;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 5px;
    color: #4c5367;
    display: inline-block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 4px 8px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}

.btn:hover{
    color: #122040 !important;
}

.dropdown-appearance .dropdown-item.active, .dropdown-appearance .dropdown-item.active i, .menu-item.active a, .menu-item.active i{
    color: #E2AC6C !important;
}

.btn-primary:hover{
    background-color: #E2AC6C !important;
}

body{
    margin: 0;
}

.sidebarContent > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:0.5rem;
    margin-bottom: 0.5rem;
}

.formInput {
    appearance: none;
    background-clip: padding-box;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    color: #292D42FF;
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.sidebarContent > div:nth-child(4){
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebarContent > div:nth-child(5){
    flex-direction: row;
    flex-wrap: wrap;
}

.backContainer.backContainer{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 1rem;
    color: unset;
    text-decoration: none;
}

.backContainer p {
    margin: 0;
}

.containerContent{
    display: flex;
    width: 100%;
}

.sidebarContent{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    margin-right: 10px;
    border-right: solid 1px lightgrey;
    background-color: #f8fafc;
    padding: 1rem;
}

.contentBlog{
    width: 100%;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {
    .containerContent{
        flex-direction: column;
    }

    .sidebarContent{
        height: unset;
        width: auto;
        border-right: unset;
        border-bottom: solid 1px lightgrey;
    }

    .contentBlog{
        width: auto;
    }

    .formInput{
        width: unset;
    }
}
