{% extends 'base.html.twig' %}

{% block title %}Hello BlogContentController!{% endblock %}

{% block body %}
    <a href="{{app.request.headers.get('referer')}}">Retour</a>
    {{ form(form) }}
{% endblock %}
